// jQuery
script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
// highstock
script(type='text/javascript', src='https://code.highcharts.com/stock/js/highstock.js')
// materializeCSS
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
// socket.io
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js', integrity='sha256-KaSi3am04I2b10TZZ7JqEYrnNk94r0QOeIY3PtwGR/M=', crossorigin='anonymous')
// fallback if cdn is kill
script(type='text/javascript', src='/static/js/fallback.js')
// custom
script(type='text/javascript', src='/static/js/cards/chartsettings.js')
script(type='text/javascript', src='/static/js/cards/sensorcard.js')
// <script type="text/javascript" src="/static/js/connectionStatus.js"></script>
// <script type="text/javascript" src="/static/js/led.js"></script>
script(type='text/javascript', src='/static/js/index.js')