include cards/all

doctype 5
html
    head
        title openHAMS
        include styles
    body
        include extras/connstatus
        .container
            .row
                each card in cards
                    +insertCard(card)
        #modal1.modal
            .modal-content
                h4 Modal Header
                p A bunch of text
            .modal-footer
        include libs
