// jQuery
script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
// highstock
script(type='text/javascript', src='https://code.highcharts.com/stock/js/highstock.js')
// materializeCSS
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')
// socket.io
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js', integrity='sha256-fiM0lX3OYzf0FfLBeLqFuCokh+rf1VhI/eanPbzldUM=', crossorigin='anonymous')
// fallback if cdn is kill
script(type='text/javascript', src='/static/js/fallback.js')
// custom
script(type='text/javascript', src='/static/js/chartSettings.js')
script(type='text/javascript', src='/static/js/chart.js')
// <script type="text/javascript" src="/static/js/connectionStatus.js"></script>
// <script type="text/javascript" src="/static/js/led.js"></script>
script(type='text/javascript', src='/static/js/index.js')

