.card .card-content {
    padding: 10px 24px 24px 24px;
}

data {
    font-weight: 500;
}

div.chart {
    height: 15em;
}

status {
    margin-left: 0.33em;
}

status.connect {
    color: #4CAF50;
}

status.connect_error {
    color: #FF5722;
}

status.reconnect_attempt {
    color: #FFC107;
}

.disabled {
    pointer-events: none;
}

.ledstatusbg {
    height: 3px;
}

.ledstatus {
    height: 100%;
    width: 100%;
}
